<?xml version="1.0" encoding="UTF-8"?>
<Response>
    <Say>Hello. Thank you for participating in this Hindu American Foundation call campaign.  In a moment, you will be connected with the office of {{ cong_name }}.  Once you are connected, tell them who you are, and read the talking points we have provided on your screen.</Say>
    <Dial>{{ cong_phone }}</Dial>
</Response>